.list {
    display: flex;
    flex-wrap: wrap;
}

.list-item {
    margin: 10px 10px 10px 100px;
    width: 250px;
}

.header {
    border: 2px solid red;
    margin-top: auto;
    margin-bottom: auto;
    background-color: #2F303A;
}

ul {
    list-style: none;
}

.nav-list {
    display: flex;
    justify-content: space-around;
}

.nav-item {
    margin-right: 20px;
}

a {
    text-decoration: none;
}

footer {
    color: #FFFFFF;
    background-color: #2F303A;
}

a {
    color: black;
}

ul {
    background-color: white;
    display: flex;
}

li {
    margin-right: 10px;
    list-style: none;
}

.title {
    color: blue;
}

.title2 {
    color: black;
}

nav {
    border: 1px solid #2F303A;
}

button {
margin-left: 100px;
margin-right: 10px;
margin-top: 80px;
width: 89px;
height: 20px;
}